/* 
    Document   : style
    Created on : 23/09/2013, 09:55:18
    Author     : ADM
    Description:
        Purpose of the stylesheet follows.
*/

.carregando {
    width:300px; 
    padding:5px; 
    border:1px solid #069; 
    background:#C1EBFF; 
    text-align:center; 
    margin:0 auto; 
    display:none;
}
.retorno{
    display:none;
}
.radio{
    visibility: hidden;
}

